[defaults]
host_key_checking = False
collections_paths = ./ansible_collections

[galaxy]
server_list = private_galaxy

[galaxy_server.private_galaxy]
url=http://localhost:8080/api/galaxy/
username=admin
password=galaxyadmin